<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:site_name" content="Ucut">
    <meta property="og:title" content="Ucut | Custom URL Shortener" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/png/favicon.png" />
    <meta property="og:url" content="https://www.ucut.cf/" />
    <meta property="og:description" content="Simple Url Shortener for your usage with dashbaord makes your life easier." />
    <title>URL Shorten</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/183516/gilroy-webfont.css'>
    <link rel="stylesheet" href="/css/styles_home.css">
    <link rel="shortcut icon" href="/png/favicon.png" type="image/x-icon">
</head>

<body>
<div class="navbar">
    <div class="msg" style="font-size: 20px !important; text-align:center; color: red; font-size:10px; z-index: 11;">

    </div>
    <div class="links">

        <a href="/login/">login</a>
        <a href="/register/">register</a>

    </div>
</div>

<div class='main'>
    <div class="content">
        <h2>Simple Url Shortener ✌️</h2>
        <form action="" method="POST">
            <div class="input-group">
                <input type="text" class='neumorph-input' placeholder='paste your link here' name="urllink" />
                <input type="submit" class='neumorph-btn' value="Shorten">
            </div>
        </form>
        <div class="output">
            <a href="https://www.ucut.cf/home/" id="output">
                https://www.ucut.cf/home/
            </a>
        </div>
    </div>
    <div class="credits">
        Frontend with ❤️ by
        <a href="https://codepen.io/ravencolevol/" class=''>
            Raven
        </a>
    </div>
</div>
</body>
</html>